<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SCNR</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="header-img"><img src="{{url_for('static', filename='sources/logo.png')}}" /></div>
            <div class="header-img"><img src="{{url_for('static', filename='sources/banner.png')}}" /></div>
        </div>

        <main class="main">
            <!-- upload -->
            <div class="pdf-container">
                <!-- upload pdf -->
                <div class="box-container">
                    <!-- contents of box -->
                    <div class="innerbox">
                        Upload PDF
                    </div>
                    <div class="upload">
                            <input type="file" id="actual-btn" hidden/>
                            <label for="actual-btn">
                                <img src="{{url_for('static', filename='sources/upload.png')}}" />
                            </label>
                            <!--  -->
                        <!-- <img src="./sources/upload.png"> -->
                    </div>
                </div>
                <!-- upload link -->
                <div class="box-container">
                    <!-- contents of box -->
                    <div class="innerbox">
                        Upload PDF Link
                    </div>
                    <div class="upload">
                        <div class="url-box">
                            <div>
                                <img src="{{url_for('static', filename='sources/search.png')}}" />
                            </div>
                            <div class="url">
                                <input type="text" id="txtbox" placeholder="input url here">
                            </div>
                            <!-- <div>
                                <button type="button" id="button" onclick="getURL()">add file</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="study-guide">
                <input type="image" src="{{url_for('static', filename='sources/pdf.png')}}" id="pdf" />
            </div>
        </main>
        <!-- <script src="{{url_for('static', filename='main.js')}}"></script> -->
        <script>
        let txtbox = document.getElementById("txtbox");
        txtbox.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                getURL();
            }
        });

        function getURL() { 
            let urlText = document.getElementById("txtbox").value;

            fetch("/add", {
                method: "post",
                body:
                    JSON.stringify({
                        "url" : urlText
                    })
            })
            .then (function (response) {
                return response.json();
            }).then(function (text) {
                console.log('GET response:');
                console.log(text.greeting); 
            });
        }

        let pdfbutton = document.getElementById("pdf");
        pdfbutton.addEventListener("click", genPDF);

        function genPDF() {

        }
        
        </script>
    </body>
</html>